.my-img {
    margin: 20px;
    border: 1px solid black;
}

@media only screen and (max-width:600px) {

    .my-img {
        width: 90%;
        height: 500px;
        margin: 5%;
        border: 1px solid black;
    }
}