.services-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 5rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .services-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;

    }
}